@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Hi, I’m lily — a game designer and AI explorer crafting experiences where creativity meets code. <br>
        Whether it's building immersive worlds or designing intelligent systems, I love blending art and logic to make ideas come alive.

    </p>
</div>
